.photoList {
  display: flex;
  flex-wrap: wrap;
}

.photoListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.media {
  width: 400px;
  height: 270px;
  overflow: hidden;
}

.media img {
  object-fit: cover;
}
